@model ShoppingCart.Application.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>
<h2>Thank you for your purchase.</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
