@model dynamic

@{
    ViewData["Title"] = "Cart";
}
<h1>Cart</h1>
<ul>
    @foreach (var order in Model.Orders) {
        @if(order.MemberEmail == User.Identity.Name) {
            <li>
            <h5>@order.Id</h5>
            <p>@order.DatePlaced</p>
        </li>
        }
    }

</ul>

<a href="/Orders/Checkout" class="btn btn-success" role="button">Confirm Purchase</a>


